.hi-table {
  background: white;
  width: 100%;
  border-radius: 4px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 1rem;

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
  }

  thead {
    border-collapse: collapse;
    background-color: #f8f8f9;

    tr {
      &:hover {
        background-color: #f8f8f9;
      }
    }
  }

  th {
    text-align: left;
    padding: 0.9rem 1rem;    
    text-transform: uppercase;
    font-size: 0.7rem;
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid #f4f4f4;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: map-get($brand, grey);
    }

    &:hover {
      background: #fff5e8;
      color: #222;
      cursor: pointer;
    }

    td {
      padding: 0.5rem 1rem;
      font-size: 0.85rem;
    }
  }
}

.hi-dark-mode {
  .hi-table {
    background: none;

    thead {
      background: darken(map-get($brand-dark, grey), 4%);

      tr {
        &:hover {
          background-color: map-get($brand-dark, grey);
        }
      }
    }

    tr {
      border-bottom: map-get($brand-dark, grey);

      &:nth-child(even) {
        background-color: map-get($brand-dark, grey);
      }

      &:hover {
        background: map-get($brand-dark, grey);
        background: #fff5e8;
        color: #222;
        cursor: pointer;
      }

      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

/* Responsive */

@media only screen and (max-width: 767px) {
  .hi-table {
    width: 100%;

    thead {
      display: none;
    }

    th, td {
      display: flex;
      align-items: center;
      justify-content: left;
    }

    tr {
      &:first-child {
        border-top: 1px solid #f4f4f4;
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(even) {
        background: map-get($brand, grey);
      }
    }

    td {
      &::before {
        content: attr(data-col);
        width: 100%;
        font-weight: 700;
      }

      font-weight: 400 !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}



