.hir-table {
  background: white;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 4px;

  display: block;
  overflow-x: auto;
  // white-space: nowrap;
  
  tbody {
    // display: table;
    width: 100%;
  }

  thead {
    border-collapse: collapse;
    background-color: #f8f8f9;

    tr {
      &:hover {
        background-color: #f8f8f9;
      }
    }
  }

  th {
    text-align: left;
    padding: 1rem;    
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
  }

  tr {
    border-bottom: 1px solid #f4f4f4;

    &:hover {
      background: #fff5e8;
    }

    td {
      padding: 0.5rem 1rem;
      font-size: 0.85rem;
    }
  }
}

/* Responsive */

@media only screen and (max-width: 767px) {
  .hir-table {
    width: 100%;

    th, td {
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
}

.tts-dark-mode {
  .hir-table {
    background: none;

    thead {
      background: map-get($brand-dark, grey);

      tr {
        &:hover {
          background-color: map-get($brand-dark, grey);
        }
      }
    }

    tr {
      border-bottom: map-get($brand-dark, grey);

      &:hover {
        background: map-get($brand-dark, grey);
      }

      td {
        padding: 0.5rem 1rem;
      }
    }
  }
}

