.hi-toolbar {
  display: flex;
  justify-content: flex-start;

  &--centered {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &-wrapper {
    display: flex;
    height: 45px;
    display: inline-flex;
    background: none;
    overflow: hidden;
    border-radius: 4px;
  }

  &__item {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &::before {
      height: 50%;
      width: 1px;
      background-color: rgba(0,0,0,0.04);
      content: '';
      position: absolute;
      left: 0;
    }

    &:first-child {
      &::before {
        width: 0;
        height: 0;
      }
    }

    &:hover {
      background: rgba(0,0,0,0.02);
    }

    &--active {
      background: map-get($brand, secondary);
      color: map-get($brand, text);
    }
  }

  &--fluid {
    width: 100%;

    .hi-toolbar-wrapper {
      width: 100%;
    }

    .hi-toolbar__item {
      flex: 1;
    }
  }

  &--slim {
    .hi-toolbar-wrapper {
      height: 30px;
      font-size: 0.9em;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .hi-toolbar {
    &__item {
      &::before {
        background-color: rgba(255,255,255,0.04);
      }

      &:hover {
        background: rgba(255, 255, 255, 0.02);
      }
    }
  }

  .hi-light-mode {
    .hi-toolbar {
      &__item {
        &::before {
          background-color: rgba(0,0,0,0.04);
        }

        &:hover {
          background: rgba(0,0,0,0.02);
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .hi-light-mode {
    .hi-toolbar {
      &__item {
        &::before {
          background-color: rgba(255,255,255,0.04);
        }

        &:hover {
          background: rgba(255, 255, 255, 0.02);
        }
      }
    }
  }
}
