.tts-toolbar {
  display: flex;
  justify-content: flex-start;

  &--centered {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &-wrapper {
    display: flex;
    height: 45px;
    display: inline-flex;
    box-shadow: $box_shadow;
    background: map-get($brand, white);
    border-radius: $border_radius;
    overflow: hidden;
  }

  &__item {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(0,0,0,0.02);
    cursor: pointer;
    text-decoration: none;
    color: initial;

    &:first-child {
      border-left: none;
    }

    &:hover {
      background: rgba(0,0,0,0.02);
    }

    &--active {
      background: map-get($brand, secondary);
      color: map-get($brand, white);
    }
  }

  &--fluid {
    width: 100%;

    .tts-toolbar-wrapper {
      width: 100%;
    }

    .tts-toolbar__item {
      flex: 1;
    }
  }

  &--slim {
    .tts-toolbar-wrapper {
      height: 30px;
      font-size: 0.9em;
    }
  }
}

.tts-dark-mode {
  .tts-toolbar {
    &-wrapper {
      box-shadow: $box_shadow_dark;
      background: lighten(map-get($brand-dark, white), 2%);
      background: none;
      border-radius: 2px;
      // border: 1px solid lighten(map-get($brand-dark, white), 2%);
    }

    &__item {
      color: map-get($brand, white);
    }
  }
}
