@for $i from 1 through 12 {
  .tts-flex-#{$i} {
    flex: $i !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.bg-primary {
  background-color: map-get($brand, primary) !important;
}

.bg-secondary {
  background-color: map-get($brand, secondary) !important;
}

.only-dark-mode {
  display: none;
}

.hi-dark-mode {
  .only-light-mode {
    display: none;
  }

  .only-dark-mode {
    display: inline-block;
  }
}

