$base_font_size: 14;
$base_vpadding: 2rem;
$base_hpadding: 2rem;

$box_shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box_shadow_dark: rgba(0, 0, 0, 0.04) 5px 5px 5px;

$border_radius: 0.5rem;

// Layout
$layout_sidebar_width: 60px;
$layout_sidebar_lg_width: 250px;
$layout_topbar_height: 60px;

// Navigation
$navigation_item_height: 50px;
