.dropdown-menu,
.dropdown-divider {
  border-color: map-get($brand, grey);
}

.dropdown-menu {
  border: none;
  box-shadow: $box_shadow;
  color: map-get($brand, text);
}

.dropdown-item {
  &:hover {
    background-color: #fff5e8;
  }

  i {
    margin-right: 0.5rem;
  }

  &:focus,
  &:active {
    background-color: darken(#fff5e8, 3%);
    color: map-get($brand, text);
  }
}

@media (prefers-color-scheme: dark) {
  .dropdown-menu {
    box-shadow: $box_shadow_dark;
    color: map-get($brand-dark, text);
    background: lighten(map-get($brand-dark, white), 2%);
  }

  .dropdown-item {
    color: map-get($brand-dark, text);

    &:hover {
      color: map-get($brand, text);
      background-color: #fff5e8;
    }
  }

  .dropdown-divider {
    border-color: map-get($brand-dark, grey);
  }

  .hi-light-mode {
    .dropdown-menu {
      box-shadow: $box_shadow;
      color: map-get($brand, text);
      background: map-get($brand, white);
    }

    .dropdown-item {
      color: map-get($brand, text);

      &:hover {
        color: map-get($brand, text);
        background-color: #fff5e8;
      }
    }

    .dropdown-divider {
      border-color: map-get($brand, grey);
    }
  }
}
