.form-control {
    background: map-get($brand, white);
    color: map-get($brand, text);
    border-color: rgba(0, 0, 0, 0.09);

    &:disabled {
      background:rgba(0, 0, 0, 0.04);
    }
  }

@media (prefers-color-scheme: dark) {
  .form-control {
    background: none;
    border-color: rgba(255, 255, 255, 0.09);
    color: map-get($brand-dark, text);

    &:focus {
      background: none;
      color: map-get($brand-dark, text);
    }

    &:disabled {
      background:rgba(255, 255, 255, 0.08);
    }
  }
  
  .hi-light-mode {
    .form-control {
      background: map-get($brand, white);
      color: map-get($brand, text);
      border-color: rgba(0, 0, 0, 0.09);

      &:disabled {
        background:rgba(0, 0, 0, 0.04);
      }
    }
  }
}

@media (prefers-color-scheme: light) {  
  .hi-dark-mode {
    .form-control {
      background: none;
      border-color: rgba(255, 255, 255, 0.09);
      color: map-get($brand-dark, text);

      &:focus {
        background: none;
        color: map-get($brand-dark, text);
      }

      &:disabled {
        background:rgba(255, 255, 255, 0.08);
      }
    }
  }
}

