<nav class="hi-navigation" data-navigation-target="navigation">
  <a href="/pages/home.html" class="hi-navigation__item">
    <div class="hi-navigation__icon">
      <i class="bi bi-house-fill"></i>
    </div>
    <div class="hi-navigation__title">
      Home
    </div>
  </a>
  <a data-bs-toggle="collapse" href="#navElements" class="hi-navigation__item collapsed">
    <div class="hi-navigation__icon">
      <i class="bi bi-menu-button-wide"></i>
    </div>
    <div class="hi-navigation__title">
      Elements
    </div>
  </a>

  <div class="collapse" id="navElements">
    <a  href="/pages/elements/button.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Button
      </span>
    </a>

    <a  href="/pages/elements/form.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Form
      </span>
    </a>
  </div>

  <a data-bs-toggle="collapse" href="#navComponents" class="hi-navigation__item collapsed">
    <div class="hi-navigation__icon">
      <i class="bi bi-bricks"></i>
    </div>
    <div class="hi-navigation__title">
      Components
    </div>
  </a>

  <div class="collapse" id="navComponents">
    <a  href="/pages/components/table.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Table
      </span>
    </a>
    <a  href="/pages/components/card.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Card
      </span>
    </a>
  </div>

  <a data-bs-toggle="collapse" href="#navLayout" class="hi-navigation__item collapsed">
    <div class="hi-navigation__icon">
      <i class="bi bi-layout-text-window-reverse"></i>
    </div>
    <div class="hi-navigation__title">
      Pages
    </div>
  </a>

  <div class="collapse" id="navLayout">
    <a  href="/pages/errors/404.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Errors - 404
      </span>
    </a>
    <a  href="/pages/errors/500.html" class="hi-navigation__item hi-navigation__item--sub">
      <span class="hi-navigation__title">
        Errors - 500
      </span>
    </a>
  </div>
</nav>
