<nav class="tts-navigation" data-navigation-target="navigation">
  <a data-bs-toggle="collapse" href="#navPages" class="tts-navigation__item">
    <div class="tts-navigation__icon">
      <i class="ri-pages-fill"></i>
    </div>
    <div class="tts-navigation__title">
      Pages
    </div>
  </a>

  <div class="collapse" id="navPages">
    <a  href="#" class="tts-navigation__item tts-navigation__item--sub">
      <span class="tts-navigation__title">
        Auth
      </span>
    </a>

    <a  href="#" class="tts-navigation__item tts-navigation__item--sub">
      <span class="tts-navigation__title">
        Errors
      </span>
    </a>
  </div>

  <a data-bs-toggle="collapse" href="#navComponents" class="tts-navigation__item">
    <div class="tts-navigation__icon">
      <i class="ri-computer-fill"></i>
    </div>
    <div class="tts-navigation__title">
      Components
    </div>
  </a>

  <div class="collapse" id="navComponents">
    <a  href="#" class="tts-navigation__item tts-navigation__item--sub">
      <span class="tts-navigation__title">
        Button
      </span>
    </a>

    <a  href="#" class="tts-navigation__item tts-navigation__item--sub">
      <span class="tts-navigation__title">
        Card
      </span>
    </a>
  </div>
</nav>
