<div class="hi-offcanvas offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">HIRO | Navigation</h5>
    <a class="hi-offcanvas__close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></a>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex mb-5">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="change->hello#toggleDarkMode" data-hello-target="colourmodeCheckbox">
        <label class="form-check-label text-light" for="flexSwitchCheckDefault">Dark Mode</label>
      </div>
    </div>

    <div data-navigation-target="offcanvas"></div>
  </div>
</div>
