<div class="hi-layout__sidebar">
  <div class="hi-layout__logo">
    <div class="hi-layout__logo-full">
      HIRO
      <a data-url="/" data-routes-target="routeable">
        <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" />
      </a>
      ADMIN
    </div>
    <div class="hi-layout__logo-min">
      <a data-url="/" data-routes-target="routeable">
        <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" />
      </a>
    </div>
  </div>

  <div class="d-lg-flex d-md-none justify-content-center mt-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="change->hello#toggleDarkMode" data-hello-target="colourmodeCheckbox">
      <label class="form-check-label text-light" for="flexSwitchCheckDefault">Dark Mode</label>
    </div>
  </div>

  <div class="hi-layout__sidebar-oc-trigger d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
    <i class="ri-menu-fill"></i>
  </div>

  {% include "partials/navigation.njk" %}
</div>
