<div class="hi-toolbar hi-toolbar--right">
    <div class="hi-toolbar-wrapper">
      <div class="hi-toolbar__item" data-bs-toggle="dropdown">
        <i class="bi bi-activity"></i>
      </div>
      <div class="dropdown-menu">
        <div style="padding: 20px; width: 50vw;" class="p3">
          <h3>Some Mega Menu</h3>
        </div>
      </div>

      <div class="hi-toolbar__item" data-bs-toggle="dropdown">
        <i class="bi bi-alarm-fill"></i>
      </div>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>

      <div class="hi-toolbar__item" data-bs-toggle="dropdown">
        <i class="bi bi-archive-fill"></i> 
      </div>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>

      <div class="hi-toolbar__item" data-bs-toggle="dropdown">
        <i class="bi bi-bag-fill"></i> 
      </div>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>

      <div class="hi-toolbar__item" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle"></i>
      </div>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-gear-fill"></i>
            Settings
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bi bi-box-arrow-right"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
