<div class="hi-layout__topbar">
  <div class="d-md-none hi-layout__topbar-section hi-flex-1">
    <a class="only-light-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638004524/Logos/HiroDark_ith1ug.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
    <a class="only-dark-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
  </div>

  <div class="d-none d-md-flex hi-layout__topbar-section hi-flex-1 justify-content-end">
    {% include "partials/toolbar.njk" %}
  </div>

  <div class="d-md-none hi-layout__topbar-section hi-layout__offcanvas-trigger hi-flex-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
    <i class="ri-menu-fill"></i>
  </div>
</div>
