html {
  font-size: $base_font_size;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: map-get($brand, white);
  overflow: hidden;
  transition: display ease 200ms;
  color: map-get($brand, text);
}

.hi-network-status {
  border: 1px solid var(--bs-gray);
  position: absolute;
  right: 10px;
  top: 24px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 200ms;

  &__indicator {
    width: 8px;
    height: 8px;
    background-color: var(--bs-gray);
    border-radius: 50%;
    display: inline-block;
  }
}

.hi-online {
  .hi-network-status {
    border: 1px solid var(--bs-info);

    &__indicator {
      background-color: var(--bs-info);
    }
  }
}

.hi-offline {
  .hi-network-status {
    border: 1px solid var(--bs-red);

    &__indicator {
      background-color: var(--bs-red);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: map-get($brand-dark, white);
    color: map-get($brand-dark, text);
  }

  body.hi-light-mode {
    background-color: map-get($brand, white);
    color: map-get($brand, text);
  }
}

@media (prefers-color-scheme: light) {
  body.hi-dark-mode {
    background-color: map-get($brand-dark, white);
    color: map-get($brand-dark, text);
  }
}
