html {
  font-size: $base_font_size;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: map-get($brand, white);
  overflow: hidden;
  transition: display ease 200ms;
}

body.tts-dark-mode {
  background-color: map-get($brand-dark, white);
  color: map-get($brand, white);
}


