.tts-code {
  padding: 0 $base_hpadding;
  background-color: darken(map-get($brand-dark, white), 2%);
  color: map-get($brand, white);
  font-family: 'PT Mono', monospace;
  font-size: 0.9rem;

  xmp {
    // white-space: pre-line;
    margin: 0;
    color: map-get($brand, white);
  }

  pre {
    margin: 0;
    padding: 0;
    // white-space: pre-line;
    
  }

  .hljs,
  .hljs-attr{
    background: none;
    color: map-get($brand, white);
  }

  .hljs-string {
    color: #d2f0a6;
  }

  .hljs-attr {
    color: #f5a2a9;
  }

  .hljs-name {
    color: #f5a2a9;
  }

  .hljs-tag {
    color: #f5a2a9;
  }
}

