.tts-code {
  padding: 0 $base_hpadding;
  background-color: map-get($brand-dark, white);

  color: map-get($brand, white);
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
  border-top: 1px solid darken(map-get($brand-dark, grey), 2%);
  border-bottom: 1px solid darken(map-get($brand-dark, grey), 2%);

  xmp {
    white-space: pre-line;
    margin: 0;
    color: map-get($brand, white);
  }

  pre {
    margin: 0;
    padding: 0;
    white-space: pre-line;
    
  }

  .hljs,
  .hljs-attr,
  .hljs-name,
  .hljs-tag {
    background: none;
    color: map-get($brand, white);
  }
}

