.hi-header {
  background-color: map-get($brand, grey);
  padding:  $base_vpadding ($base_hpadding * 0.5);
  position: relative;

  @include breakpoint(md) {
    padding: $base_vpadding $base_hpadding;
  }

  &__title {
    margin-bottom:  0;
  }

  &__subtitle {
    margin: 0;
  }

  &--collapsed {
    padding:  1em;

    .hi-header__subtitle {
      display:  none;
    }
  }

  &--centered {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

@media (prefers-color-scheme: dark) {
  .hi-header {
    background-color: map-get($brand-dark, white);
  }
  
  .hi-light-mode {
    .hi-header {
      background-color: map-get($brand, grey);
    }
  }
}

@media (prefers-color-scheme: light) {  
  .hi-dark-mode {
    .hi-header {
      background-color: map-get($brand-dark, white);
    }
  }
}
