.wsk-hero {
  position: relative;
  padding: 60px 0 60px 0;
  background: #fff;

  &__heading {
    font-size: 3em;
  }

  &__text {
    font-size: 1.1rem;
  }

  &__image {
    perspective: 1000px;

    img {
      width: 90%;
      border-radius: 10px;
      transform: rotateY(0deg);
    }
  }

  &__content {
    border-radius: 0;
    position: relative;
    z-index: 1;
    text-align: left;

    p {
      margin: 40px 0;
    }
  }
}

@media (max-width: 767px) {
  .wsk-hero {
    padding: 50px 0;

    &__content {
      padding: 0 10px;
      text-align: center;
    }

    &__image {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .wsk-hero {
    padding: 60px 0;

    &__content {
      text-align: center;
    }

    &__image {
      display: none;
    }
  }
}
