.tts-navigation {
  &__item {
    text-decoration: none;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: map-get($brand, grey);
    border-top: 1px solid rgba(0,0,0,0.06);

    @include breakpoint(lg) {
      justify-content: flex-start;
      padding: 0 20px;
    }
  }

  &__icon {
    font-size: 1.3rem;

    @include breakpoint(lg) {
      font-size: 1rem;
      margin-right: 10px;
    }
  }

  &__title {
    display: none;
    transition: all 200ms ease;

    @include breakpoint(lg) {
      display: block;
    }
  }
}
