.hi-navigation {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }

  &__item {
    text-decoration: none;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: map-get($brand, white);
    position: relative;
    cursor: pointer !important;

    i {
      background: rgba(0, 0, 0, 0.06);  
      padding: 4px 8px;
      border-radius: $border-radius;
      border: 1px solid rgba(0, 0, 0, 0.02);
    }

    &:hover {
      color: darken(map-get($brand, white), 10%);
    }

    &[data-bs-toggle="collapse"] {
      &::after {
        font-family: bootstrap-icons !important;
        content: "\f282";
        position: absolute;
        right: 20px;
        font-size: 0.7rem;
        height: 100%;
        display: flex;
        align-items: center;
      }

      &:not(.collapsed) {
        background: rgba(0,0,0,0.1);
      }
    }

    &:not(.collapsed) {
      &::after {
        transform: rotate(180deg);
      }
    }

    @include breakpoint(lg) {
      justify-content: flex-start;
      padding: 0 20px;
    }

    &--sub {
      height: 35px;
      padding-left: 0.1rem;
      font-size: 0.9rem;

      &::before {
        content: '• \a0'
      }

      &::after {
        content: '';
      }

      &:hover {
        background: none;
        font-weight: 700;
      }

      @include breakpoint(lg) {
        padding-left: 2rem;
      }
    }
  }

  &__icon {
    font-size: 1.3rem;

    @include breakpoint(lg) {
      font-size: 1rem;
      margin-right: 10px;
    }
  }

  &__title {
    display: none;
    transition: all 200ms ease;
    margin-top: -2px;

    @include breakpoint(lg) {
      display: block;
    }
  }
}

.hi-offcanvas {
  .hi-navigation {
    display: block;
    &__title {
      display: block;
    }

    &__item {
      justify-content: flex-start;
    }

    &__icon {
      font-size: 1rem;
      margin-right: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .hi-navigation {
    &__item {
      i {
        background: rgba(255, 255, 255, 0.06);
        padding: 4px 8px;
        border-radius: $border-radius;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
  
  .hi-light-mode {
    .hi-navigation {
      &__item {
        i {
          background: rgba(0, 0, 0, 0.06);
          padding: 4px 8px;
          border-radius: $border-radius;
          border: 1px solid rgba(0, 0, 0, 0.02);
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {  
  .hi-dark-mode {
    .hi-navigation {
      &__item {
        i {
          background: rgba(255, 255, 255, 0.06);
          padding: 4px 8px;
          border-radius: $border-radius;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

