.hi-offcanvas {
  background: map-get($brand, secondary);
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .offcanvas-header {
    color: map-get($brand-dark, text);
  }

  .offcanvas-body {
    padding: 0;
  }

  &__close {
    // color: white;
    // background: none;
    // text-decoration: none;
    // background-color: blue;
    // padding: 0 !important;
    // font-size: 2rem;
    // margin: 0 !important;

    // &::before {
    //   font-family: "bootstrap-icons";
    //   content: "\f62a";
    //   cursor: pointer;
    //   background-color: orange;
    //   margin: 0 !important;
    //   padding: 0 !important;
    //   top: 0 !important;
    // }
  }
}

@media (prefers-color-scheme: dark) {
  .hi-offcanvas {
    background: map-get($brand-dark, white);
    border-right: 1px solid darken(map-get($brand-dark, white), 4%);
    box-shadow: $box_shadow_dark;
  }

  .hi-light-mode {
    .hi-offcanvas {
      background: map-get($brand, secondary);
      border: none;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

@media (prefers-color-scheme: light) {
  .hi-dark-mode {
    .hi-offcanvas {
      background: map-get($brand-dark, white);
      border-right: 1px solid darken(map-get($brand-dark, white), 4%);
      box-shadow: $box_shadow_dark;
    }
  }
}
