.tts-layout {
  &__sidebar {
    background-color: map-get($brand, secondary);
    grid-template-rows: $layout_topbar_height 1fr;
    grid-template-columns: 1fr;
    color: map-get($brand, grey);
    display: none;
    
    @include breakpoint(md) {
      display: grid;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 50px;
    }

    &-full {
      display: none;
    }

    // @include breakpoint(lg) {
    //   &-min {
    //     display: none;
    //   }

    //   &-full {
    //     display: block;
    //   }
    // }
  }
}

.tts-dark-mode {
  .tts-layout {
    &__sidebar {
      background-color: map-get($brand-dark, grey);
      background-color: lighten(map-get($brand-dark, white), 2%);
      color: map-get($brand, grey);
    }
  }
}
