.hi-layout {
  &__sidebar {
    background-color: map-get($brand, secondary);
    grid-template-rows: $layout_topbar_height $layout_topbar_height 1fr;
    grid-template-columns: 1fr;
    display: none;
    
    @include breakpoint(md) {
      display: grid;
    }

    &-oc-trigger {
      display: flex;
      align-items: center;
      height: inherit;
      justify-content: center;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 50px;
    }

    &-full {
      display: none;
    }
  }
}


@media (prefers-color-scheme: dark) {
  .hi-layout {
    &__sidebar {
      background-color: lighten(map-get($brand-dark, white), 2%);
    }
  }

  .hi-light-mode {
    .hi-layout {
      &__sidebar {
        background-color: map-get($brand, secondary);
      }
    }
  }
}
