.tts-layout {
  &__topbar {
    display: flex;
    transition: all 200ms ease;
    display: flex;
    border-bottom: 1px solid map-get($brand, grey);


    &-section {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 1em;
    }
  }

  &__offcanvas-trigger {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
