.hi-layout {
  &__topbar {
    display: flex;
    transition: all 200ms ease;
    display: flex;
    background-color: map-get($brand, white);

    &-section {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 ($base_hpadding * 0.5);

      @include breakpoint(md) {
        padding: 0 $base_hpadding;
      }
    }
  }

  &__offcanvas-trigger {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .hi-layout {
    &__topbar {
      background-color: map-get($brand-dark, white);
    }
  }

  .hi-light-mode {
    .hi-layout {
      &__topbar {
        background-color: map-get($brand, white);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .hi-dark-mode {
    .hi-layout {
      &__topbar {
        background-color: map-get($brand-dark, white);
      }
    }
  }
}
