.hi-layout {
  &__topbar {
    display: flex;
    transition: all 200ms ease;
    display: flex;

    &-section {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 $base_hpadding;
    }
  }

  &__offcanvas-trigger {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.hi-dark-mode {
  .hi-layout {
    &__topbar {
      background-color: map-get($brand-dark, white);
      color: map-get($brand, white);
    }
  }
}
