{% extends "base.njk" %}

{% block css %}
  <link href="../../css/app.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="../../js/app.min.js"></script>
{% endblock %}

{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="hi-layout">
    {% include "partials/sidebar.njk" %}

    <div class="hi-layout__main">
      {% include "partials/topbar.njk" %}

      <div class="hi-layout__content">
        <div class="hi-layout--scrollable">
          {{ header(title="Card", subtitle="Useful little things for consistency") }}

          {# STANDARD #}
          <div class="hi-yield">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <h4>Standard</h4>
                  <br />
                  <div class="hi-card-article">
                    <div class="hi-card__header">
                      <div class="hi-card__title">
                        Header
                      </div>
                      <div class="hi-card__menu">
                        <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="hi-card__main">
                      Content
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="hi-code d-none">
            <pre>
              <code class="language-html">
  <xmp>
<div class="hi-card">
  <div class="hi-card__header">
    <div class="hi-card__title">
      Header
    </div>
    <div class="hi-card__menu">
      <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="hi-card__main">
    Content
  </div>
</div>
  </xmp>
              </code>
            </pre>
          </div>

          <div class="hi-yield">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="hi-card-article">
                    <div class="hi-card-article__main">
                      <div class="hi-card-article__image">
                        <img src="https://placeimg.com/640/480/animals" />
                      </div>
                      <div class="hi-card-article__content">
                        <div class="hi-card-article__title">
                          Nature is Good for the soul.
                        </div>

                        <div class="hi-card-article__subtitle">
                          <i class="bi bi-calendar"></i>
                          10 July 2020
                        </div>

                        <div class="hi-card-article__text">
                          From rocky mountains to crystal clear lakes, these are the 
                          places you must see and enjoy. In summers you can bring your 
                          food and have a little picnic on top of the amazing grasslands. 
                          In winters you can still enjoy them but with couple of inches 
                          snow on top of those grasslands.
                        </div>

                        <br />

                        <div class="d-grid">
                          <a class="hi-btn hi-btn--rounded btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Show more
                          </a>
                        </div>

                        <br />

                        <div class="collapse" id="collapseExample">
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              A list item
                              <span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              A second list item
                              <span class="badge bg-primary rounded-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              A third list item
                              <span class="badge bg-primary rounded-pill">1</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="hi-card-article">
                    <div class="hi-card-article__main">
                      <div class="hi-card-article__image">
                        <img src="https://placeimg.com/641/480/nature" />
                      </div>
                      <div class="hi-card-article__content">
                        <div class="hi-card-article__title">
                          Nature is Good for the soul with a longer heading.
                        </div>
                        <div class="hi-card-article__subtitle">
                          <i class="bi bi-calendar"></i>
                          10 July 2020
                        </div>

                        <div class="hi-card-article__text">
                          From rocky mountains to crystal clear lakes, these are the 
                          places you must see and enjoy. In summers you can bring your 
                          food and have a little picnic on top of the amazing grasslands. 
                          In winters you can still enjoy them but with couple of inches 
                          snow on top of those grasslands.
                        </div>

                        <br />

                        <div class="hi-card-article__user">
                          <div class="hi-card-article__user-image">
                            <img src="https://i.pravatar.cc/200" />
                          </div>
                          <div class="hi-card-article__user-details">
                            <div class="hi-card-article__user-details__title">Tyson Chandler</div>
                            <p class="hi-card-article__user-details__text">Chief Editor</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="hi-card-article">
                    <div class="hi-card-article__main">
                      <div class="hi-card-article__image">
                        <img src="https://placeimg.com/642/480/nature" />
                      </div>
                      <div class="hi-card-article__content">
                        <div class="hi-card-article__title">
                          Nature is Good for the soul.
                        </div>
                        <div class="hi-card-article__subtitle">
                          <i class="bi bi-calendar"></i>
                          10 July 2020
                        </div>

                        <div class="hi-card-article__user">
                          <div class="hi-card-article__user-image">
                            <img src="https://i.pravatar.cc/100" />
                          </div>
                          <div class="hi-card-article__user-details">
                            <div class="hi-card-article__user-details__title">Alexis Schitt</div>
                            <p class="hi-card-article__user-details__text">Guest Author</p>
                          </div>
                        </div>

                        <br />

                        <div class="hi-card-article__text">
                          From rocky mountains to crystal clear lakes, these are the 
                          places you must see and enjoy. In summers you can bring your 
                          food and have a little picnic on top of the amazing grasslands. 
                          In winters you can still enjoy them but with couple of inches 
                          snow on top of those grasslands.
                        </div>

                        <br />

                        <div class="d-grid">
                          <button type="button" class="hi-btn btn btn-outline-primary hi-btn--rounded">Open</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br />

              <div class="row">
                <div class="col-sm-12">
                  <div class="hi-card-article hi-card-article--horizontal">
                    <div class="hi-card-article__main">
                      <div class="hi-card-article__image">
                        <img src="https://placeimg.com/480/320/nature" />
                      </div>
                      <div class="hi-card-article__content">
                        <div class="hi-card-article__title">
                          Nature is Good for the soul.
                        </div>
                        <div class="hi-card-article__subtitle">
                          <i class="bi bi-calendar"></i>
                          10 July 2020
                        </div>

                        <div class="hi-card-article__user">
                          <div class="hi-card-article__user-image">
                            <img src="https://i.pravatar.cc/300" />
                          </div>
                          <div class="hi-card-article__user-details">
                            <div class="hi-card-article__user-details__title">Alexis Schitt</div>
                            <p class="hi-card-article__user-details__text">Guest Author</p>
                          </div>
                        </div>

                        <br />

                        <div class="hi-card-article__text">
                          From rocky mountains to crystal clear lakes, these are the 
                          places you must see and enjoy. In summers you can bring your 
                          food and have a little picnic on top of the amazing grasslands. 
                          In winters you can still enjoy them but with couple of inches 
                          snow on top of those grasslands.
                        </div>

                        <br />
                        <div class="d-grid">
                          <button type="button" class="hi-btn btn btn-outline-primary hi-btn--rounded text-center">Open</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
