{% extends "base.njk" %}
{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="hi-layout">
    {% include "partials/sidebar.njk" %}

    <div class="hi-layout__main">
      {% include "partials/topbar.njk" %}

      <div class="hi-layout__content">
        <div class="hi-layout--scrollable">
          {{ header(title="Card", subtitle="Useful little things for consistency") }}

          {# STANDARD #}
          <div class="hi-yield">
            <h4>Standard</h4>
            <br />
            <div class="hi-card">
              <div class="hi-card__header">
                <div class="hi-card__title">
                  Header
                </div>
                <div class="hi-card__menu">
                  <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
              <div class="hi-card__main">
                Content
              </div>
            </div>
          </div>

          <div class="hi-code">
            <pre>
              <code class="language-html">
  <xmp>
<div class="hi-card">
  <div class="hi-card__header">
    <div class="hi-card__title">
      Header
    </div>
    <div class="hi-card__menu">
      <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="hi-card__main">
    Content
  </div>
</div>
  </xmp>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
