{% extends "base.njk" %}
{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="hi-layout" data-controller="easter-eggs">
    <div class="hi-layout__sidebar">
      <div class="hi-layout__logo">
        <div class="hi-layout__logo-full">
          HIRO
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          ADMIN
        </div>
        <div class="hi-layout__logo-min">
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>
      </div>

      <div class="d-lg-flex d-md-none justify-content-center mt-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="change->hello#toggleDarkMode" data-hello-target="colourmodeCheckbox">
          <label class="form-check-label text-light" for="flexSwitchCheckDefault">Dark Mode</label>
        </div>
      </div>

      <div class="hi-layout__sidebar-oc-trigger d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
        <i class="ri-menu-fill"></i>
      </div>

      {% include "partials/navigation.njk" %}
    </div>

    <div class="hi-layout__main">
      <div class="hi-layout__topbar">
        <div class="d-md-none hi-layout__topbar-section hi-flex-1">
          <a class="only-light-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638004524/Logos/HiroDark_ith1ug.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          <a class="only-dark-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>

        <div class="d-none d-md-flex hi-layout__topbar-section hi-flex-1 justify-content-end">
          <div class="hi-toolbar hi-toolbar--right">
            <div class="hi-toolbar-wrapper">
              <div class="hi-toolbar__item">
                <i class="ri-home-line"></i> 
              </div>
              <div class="hi-toolbar__item">
                <i class="ri-qr-code-line"></i> 
              </div>
              <div class="hi-toolbar__item">
                <i class="ri-honour-line"></i> 
              </div>
              <div class="hi-toolbar__item">
                <i class="ri-settings-line"></i> 
              </div>
              <div class="hi-toolbar__item">
                <i class="ri-user-3-line"></i> 
              </div>
            </div>
          </div>
        </div>

        <div class="d-md-none hi-layout__topbar-section hi-layout__offcanvas-trigger hi-flex-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
          <i class="ri-menu-fill"></i>
        </div>
      </div>

      <div class="hi-layout__content">
        <div class="hi-layout--scrollable">
          {{ header(title="Table", subtitle="Those tabular things most sites need") }}

          {# STANDARD #}
          <div class="hi-yield">
            <h4>Standard</h4>
            <br />
            <div class="hi-card">
              <div class="hi-card__header">
                <div class="hi-card__title">
                  Header
                </div>
                <div class="hi-card__menu">
                  <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Share</a></li>
                    <li><a class="dropdown-item" href="#">Copy link</a></li>
                  </ul>
                </div>
              </div>
              <div class="hi-card__main" data-controller="table">
                <div class="hi-table__meta">
                  <div class="hi-table__meta-item" data-table-target="selectedRowCount"></div>
                </div>
                <div class="hi-table">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Postal Zip</th>
                        <th scope="col">Country</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in table_data %}
                        <tr data-table-target="tableRow" data-action="click->table#selectRow">
                          <td data-col="Name" class="fw-bold">{{ item.name }}</td>
                          <td data-col="Phone">{{ item.phone }}</td>
                          <td data-col="Email">{{ item.email }}</td>
                          <td data-col="Address">{{ item.address }}</td>
                          <td data-col="Postal Zip">{{ item.postalZip }}</td>
                          <td data-col="Country">{{ item.country }}</td>
                          <td data-col="Amount">{{ item.currency }}</td>
                          <td data-col="Status"><span class="badge bg-primary rounded-pill">COMPLETE</span></td>
                          <td>
                            <button type="button" class="hi-btn hi-btn--icon btn btn-light btn-sm">
                              <i class="ri-edit-2-line"></i>
                            </button>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="hi-code">
            <pre>
              <code class="language-html">
  <xmp>
  <table class="hi-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Postal Zip</th>
        <th scope="col">Country</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in table_data %}
        <tr>
          <td class="fw-bold">{{ item.name }}</td>
          <td data-col="Phone">{{ item.phone }}</td>
          <td data-col="Email">{{ item.email }}</td>
          <td data-col="Address">{{ item.address }}</td>
          <td data-col="Postal Zip">{{ item.postalZip }}</td>
          <td data-col="Country">{{ item.country }}</td>
          <td data-col="Amount">{{ item.currency }}</td>
          <td><span class="badge bg-primary rounded-pill">COMPLETE</span></td>
          <td>
            <button type="button" class="hi-btn hi-btn--icon btn btn-light btn-sm">
              <i class="ri-edit-2-line"></i>
            </button>
          </td>
        </tr>
      {% else %}
        No Data
      {% endfor %}
    </tbody>
  </table>
  </xmp>
              </code>
            </pre>
          </div>

          <div class="hi-yield">
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                <div class="hi-card">
                  <div class="hi-card__header">
                    <div class="hi-card__title">
                      Header
                    </div>
                    <div class="hi-card__menu">
                      <i class="ri-more-2-fill" class="dropdown-toggle" data-bs-toggle="dropdown"></i>

                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Share</a></li>
                        <li><a class="dropdown-item" href="#">Copy link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="hi-card__main">
                    <div class="hi-table">
                      <table>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
