{% extends "base.njk" %}
{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="tts-layout" data-controller="easter-eggs">
    <div class="tts-layout__sidebar">
      <div class="tts-layout__logo">
        <div class="tts-layout__logo-full">
          HIRO
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          ADMIN
        </div>
        <div class="tts-layout__logo-min">
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>
      </div>

      <div class="d-lg-flex d-md-none justify-content-center mt-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="change->hello#toggleDarkMode" data-hello-target="colourmodeCheckbox">
          <label class="form-check-label text-light" for="flexSwitchCheckDefault">Dark Mode</label>
        </div>
      </div>

      <div class="tts-layout__sidebar-oc-trigger d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
        <i class="ri-menu-fill"></i>
      </div>

      {% include "partials/navigation.njk" %}
    </div>

    <div class="tts-layout__main">
      <div class="tts-layout__topbar">
        <div class="d-md-none tts-layout__topbar-section tts-flex-1">
          <a class="only-light-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638004524/Logos/HiroDark_ith1ug.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          <a class="only-dark-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>

        <div class="d-none d-md-flex tts-layout__topbar-section tts-flex-1 justify-content-end">
          <div class="tts-toolbar tts-toolbar--right">
            <div class="tts-toolbar-wrapper">
              <div class="tts-toolbar__item">
                <i class="ri-home-line"></i> 
              </div>
              <div class="tts-toolbar__item">
                <i class="ri-qr-code-line"></i> 
              </div>
              <div class="tts-toolbar__item">
                <i class="ri-honour-line"></i> 
              </div>
              <div class="tts-toolbar__item">
                <i class="ri-settings-line"></i> 
              </div>
              <div class="tts-toolbar__item">
                <i class="ri-user-3-line"></i> 
              </div>
            </div>
          </div>
        </div>

        <div class="d-md-none tts-layout__topbar-section tts-layout__offcanvas-trigger tts-flex-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
          <i class="ri-menu-fill"></i>
        </div>
      </div>

      <div class="tts-layout__content">
        <div class="tts-layout--scrollable">
          {{ header(title="Table", subtitle="Those tabular things most sites need") }}

          {# STANDARD #}
          <div class="tts-yield">
            <h4>Standard</h4>
            <br />

            <table class="hir-table">
              <thead>
                <tr>
                  <th scope="col" width="20px"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col">Postal Zip</th>
                  <th scope="col">Country</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in table_data %}
                  <tr>
                    <td scope="row"  width="20px">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </td>
                    <td class="fw-bold">{{ item.name }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.postalZip }}</td>
                    <td>{{ item.country }}</td>
                    <td>{{ item.currency }}</td>
                    <td><span class="badge bg-primary rounded-pill">COMPLETE</span></td>
                    <td>
                      <button type="button" class="tts-btn tts-btn--icon btn btn-light btn-sm">
                        <i class="ri-edit-2-line"></i>
                      </button>
                    </td>
                  </tr>
                {% else %}
                  No Data
                {% endfor %}
              </tbody>
            </table>
            
          </div>

          <div class="tts-code d-none">
            <pre>
              <code class="language-html">
  <xmp>
    
  </xmp>
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
