@import "../config/colours";

.hi-btn {
  text-transform: uppercase;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 700;
  border-width: 2.5px;
  border-radius: 0.1rem;
  display: inline-flex;
  justify-content: center;
  text-align: center;

  i, &__icon {
    margin-right: 0.3rem;
  }

  &--rounded {
    border-radius: 5rem;
  }

  &--icon-only {
    i, .hi-btn__icon {
      margin: 0;
    }
  }
}
