{% extends "base.njk" %}

{% block content %}
  <div class="tts-layout">
    <div class="tts-layout__sidebar">
      <div class="tts-layout__logo">
        <div class="tts-layout__logo-full">
          HIRO
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          ADMIN
        </div>
        <div class="tts-layout__logo-min">
          <a href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>
      </div>

      <div class="tts-layout__sidebar-oc-trigger d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
        <i class="ri-menu-fill"></i>
      </div>

      {% include "partials/navigation.njk" %}
    </div>

    <div class="tts-layout__main">
      <div class="tts-layout__topbar">
        <div class="d-md-none tts-layout__topbar-section tts-flex-1">
          <a class="only-light-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638004524/Logos/HiroDark_ith1ug.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
          <a class="only-dark-mode" href="/"><img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="45px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" /></a>
        </div>

        <div class="d-none d-md-flex tts-layout__topbar-section tts-flex-5">
          Toolbar
        </div>

        <div class="d-none d-md-flex tts-layout__topbar-section tts-flex-2 justify-content-end">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-action="change->hello#toggleDarkMode" data-hello-target="colourmodeCheckbox">
            <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
          </div>
        </div>

        <div class="d-md-none tts-layout__topbar-section tts-layout__offcanvas-trigger tts-flex-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" data-bs-backdrop="true">
          <i class="ri-menu-fill"></i>
        </div>
      </div>

      <div class="tts-layout__content">
        <div class="tts-header">
          <h1 class="tts-header__title">Introduction</h1>
          <p class="tts-header__subtitle">Getting started</p>
        </div>
        <div class="tts-yield">
          Content
        </div>
      </div>
    </div>
  </div>
{% endblock %}
