{% extends "base.njk" %}

{% block css %}
  <link href="../css/app.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="../js/app.min.js"></script>
{% endblock %}

{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="hi-layout">
    {% include "partials/sidebar.njk" %}

    <div class="hi-layout__main">
      {% include "partials/topbar.njk" %}

      <div class="hi-layout__content">
        {{ header(title="Introduction", subtitle="Getting started") }}

        <div class="hi-yield">
          <div class="hi-card">
            <div class="hi-card__main">
              HIRO &copy; is a clean, modern template built with Bootstrap 5 as the underlying framework.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
