{% extends "base.njk" %}
{% from 'macros/page_header.njk' import header %}

{% block content %}
  <div class="hi-layout">
    {% include "partials/sidebar.njk" %}

    <div class="hi-layout__main">
      {% include "partials/topbar.njk" %}

      <div class="hi-layout__content">
        {{ header(title="Introduction", subtitle="Getting started") }}

        <div class="hi-yield">
          Content
        </div>
      </div>
    </div>
  </div>
{% endblock %}
