{% macro header(title = 'Title', subtitle='Subtitle') %}
  <div class="hi-header">
    <h1 class="hi-header__title">{{ title }}</h1>
    <p class="hi-header__subtitle">{{ subtitle }}</p>
  </div>
{% endmacro %}
