{% extends "base.njk" %}

{% block css %}
  <link href="./css/app.min.css" rel="stylesheet">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="./js/app.min.js"></script>
{% endblock %}

{% block content %}
  <div class="hi-section hi-section--hfull hi-section--hcentered hi-section--vcentered bg-secondary text-light">
    <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1638010336/Logos/HiroLight_nxobf5.png" height="200px" alt="Logo" data-attribution="https://www.vecteezy.com/free-vector/pitbull-logo" />

    <h1>HIRO</h1>
    <p class="mb-5">HTML 5 MULTI PURPOSE TEMPLATE</p>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2">
          <a href="./pages/home.html" class="hi-btn btn btn-light d-block">Enter</a>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-2">
          <a href="./pages/home.html" class="hi-btn btn btn-outline-light d-block">Buy $ 19.95</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
