{% extends "base.njk" %}

{% block content %}
  <div class="tts-layout">
    <div class="tts-layout__sidebar">
      <div class="tts-layout__logo">
        <div class="tts-layout__logo-full">
          <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1610832431/Logos/ball_rrcp79.png" height="45px" alt="Logo" />
        </div>
        <div class="tts-layout__logo-min">
          <img src="https://res.cloudinary.com/duvwrnkqj/image/upload/v1610832431/Logos/ball_rrcp79.png" height="35px" alt="Logo" />
        </div>
      </div>

      <nav class="tts-navigation">
        <a href="#" class="tts-navigation__item">
          <div class="tts-navigation__icon">
            <i class="ri-home-fill"></i>
          </div>
          <div class="tts-navigation__title">
            Home
          </div>
        </a>
        <a href="#" class="tts-navigation__item">
          <div class="tts-navigation__icon">
            <i class="ri-store-fill"></i>
          </div>
          <div class="tts-navigation__title">
            Store
          </div>
        </a>
      </nav>
    </div>
    <div class="tts-layout__main">
      <div class="tts-layout__topbar">
        <div class="tts-layout__topbar-section tts-flex-2">
          Toolbar
        </div>
        <div class="tts-layout__topbar-section tts-flex-5">
          Toolbar
        </div>
      </div>
      <div class="tts-layout__content">
        <div class="tts-header">
          <h1>Heading</h1>
          <p>Sub Heading</p>
        </div>
        <div class="tts-yield">
          Content
        </div>
      </div>
    </div>
  </div>
{% endblock %}
