body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: #2e2e2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  font-size: 2rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  line-height: 42px;
  position: relative;
  font-weight: 800;
}

.text-lead {
  font-size: 1.2em;
}

.text-cursive {
  font-family: "Amatic SC", cursive;
}

footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;

  img {
    width: 200px;
  }
}
